.about-page {
    padding: 120px 8% 100px;
    color: white;
}

/* ================= TOP ================= */

.about-top {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-left h2 {
    font-size: 2.6rem;
    margin-bottom: 20px;
}

.about-left p {
    color: #cfd8dc;
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 18px;
}

.about-right img {
    position: relative;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(0, 255, 247, 0.25);
    margin-right: -60px;
    display: block;
    block-size: 350px;
    width: 450px;
}

/* ================= PARTNERS ================= */

.partners-title {
    text-align: center;
    font-size: 2.2rem;
    margin: 100px 0 40px;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.partner-card {
    background: white;
    border-radius: 16px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s ease;
}

.partner-card img {
    max-width: 120px;
    max-height: 60px;
    object-fit: contain;
}

.partner-card:hover {
    transform: translateY(-6px);
}

/* ================= SPONSOR CTA ================= */

.sponsor-cta {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.sponsor-btn {
    padding: 16px 44px;
    font-family: "Orbitron", monospace;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;

    color: #00fff7;
    border: 2px solid #00fff7;
    border-radius: 40px;

    background: transparent;

    box-shadow:
        0 0 14px rgba(0, 255, 247, 0.5),
        inset 0 0 10px rgba(0, 255, 247, 0.2);

    transition: all 0.35s ease;
}

.sponsor-btn:hover {
    color: #000;
    background: #00fff7;

    box-shadow:
        0 0 30px rgba(0, 255, 247, 0.9),
        0 0 80px rgba(0, 255, 247, 0.5);

    transform: translateY(-2px);
}


/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
    .about-top {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .partners-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}